<div class="container">
    <h6>
        <small class="text-muted">
Puntos obtenidos este año
     </small>
      </h6> 
      <table class="table table-sm table-striped table-bordered table-hover">

        <thead class="table-success">
           <tr align="center">
             <th scope="col">Equipo</th>
       
             <th scope="col">Puntos</th>
             <th scope="col">GF</th>
             <th scope="col">GC</th>
             <th scope="col">DFG</th>
       
       
           </tr>
         </thead>
         <tbody>
             
           <% for(var i=0 ; i < Globales.length; i++) { %>
             
             <tr align="center">
               <td><img src="<%- Globales[i].Escudo %>" width="40px" height="40px" class="img-thumbnail"></img></td>
               <td><%- Globales[i].Puntos %></td>
               <td><%- Globales[i].GF %></td>
               <td><%- Globales[i].GC %></td>
               <td><%- Globales[i].DFG %></td>
         
             </tr>
             <% } %>
         
             
       
         
         </tbody>
       </table>

</div>

