<%- include('../../principal/cabecera') %>
<%- include('../../principal/menu') %>


<a name="tablageneral"></a>
    
<div class="container p-4 mx-auto">
    <h3>
        <small class="text-muted">
            Busqueda de registros que coinciden con: <%- id %>  
        </small>
      </h3> 
<table class="table table-sm table-striped table-bordered table-hover">

 <thead class="table-success">
    <tr align="center">
      <th scope="col">ID</th>

      <th scope="col">Foto</th>
      <th scope="col">Nombres</th>
      <th scope="col">A.Paterno</th>
      <th scope="col">A.Materno</th>
      <th scope="col">Fecha Nacimiento</th>
      

    </tr>
  </thead>
  <tbody>
      
      
      

    <% for(var i=0 ; i < registro.length; i++) { %>
      
    <tr align="center">
     <td><%- registro[i].ID_FB %></td>
      <td><img src="<%- registro[i].Foto %>" width="40px" height="40px" class="img-thumbnail"></img></td>
      <td><%- registro[i].Nombres %></td>
      <td><%- registro[i].Apellido_Paterno %></td>
      <td><%- registro[i].Apellido_Materno %></td>
      <td><%- registro[i].Fecha_Nacimiento %></td>

    </tr>
    <% } %>

  </tbody>
</table>

</div>

<%- include('../../principal/cierre') %>
